html {
    font-size: 62.5%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

footer{
    display:block;
    position:fixed;
    // border:1px solid red;
    bottom:0%;
    left:0;
    width:100%;
    height:fit-content;
    font-family: 'Comfortaa', cursive;
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;


.copy-right{
    flex: 2;
}


    .access{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:1;

        a{
            // border:1px solid green;
            border-radius: 5%;
            height:100%;
            padding:.5rem;
            margin:.5rem;
            text-decoration: none;
            color :black;
            background-color: #F57300;
            &:hover{
                background-color: #4AF2F2;
                color:black;
            }
        }
    }
}